Wedding_Playlist/Wedding_Playlist/obj/Debug/net8.0/Wedding_Playlist.GeneratedMSBuildEditorConfig.editorconfig
Wedding_Playlist/Wedding_Playlist/obj/project.assets.json
Wedding_Playlist/Wedding_Playlist/obj/project.nuget.cache
Wedding_Playlist/Wedding_Playlist/obj/Wedding_Playlist.csproj.nuget.dgspec.json
Wedding_Playlist/Wedding_Playlist/obj/Wedding_Playlist.csproj.nuget.g.props
Wedding_Playlist/Wedding_Playlist/obj/Wedding_Playlist.csproj.nuget.g.targets
Wedding_Playlist/Wedding_Playlist/obj/Debug/net8.0/apphost
Wedding_Playlist/Wedding_Playlist/obj/Debug/net8.0/Wedding_Playlist.AssemblyInfo.cs
Wedding_Playlist/Wedding_Playlist/obj/Debug/net8.0/Wedding_Playlist.AssemblyInfoInputs.cache
Wedding_Playlist/Wedding_Playlist/obj/Debug/net8.0/Wedding_Playlist.assets.cache
Wedding_Playlist/Wedding_Playlist/obj/Debug/net8.0/Wedding_Playlist.csproj.AssemblyReference.cache
