@model Wedding_Playlist.Models.SongDTO

@{
    ViewData["Title"] = "Create Song";
}

<div class="container admin-form-container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card admin-card">
                <div class="admin-card-header">
                    Create New Song
                </div>
                <div class="card-body">

                    <form asp-action="Create" method="post">
                        <div class="mb-3">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control" required />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Artist" class="control-label"></label>
                            <input asp-for="Artist" class="form-control" required />
                            <span asp-validation-for="Artist" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Genre" class="control-label"></label>
                            <input asp-for="Genre" class="form-control" required />
                            <span asp-validation-for="Genre" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Description" class="control-label"></label>
                            <textarea asp-for="Description" class="form-control" required></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>

                        <div class="d-grid gap-2 mt-4">
                            <button type="submit" class="btn btn-primary mt-3">Create Song</button>
                            <a asp-action="Index" class="btn btn-secondary mt-3">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
